<div th:fragment="header">
    <div class="container">
        <div class="header-content">
            <a href="/" class="logo-link">
                Политехнический университет
            </a>
            <nav>
                <ul>
                    <li><a href="/schedule">Расписание</a></li>
                    <li><a href="/info">Об университете</a></li>
                    <li><a href="/login" class="btn btn-secondary">Вход</a></li>
                    <li><a href="/register" class="btn">Регистрация</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>